In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("random_sample.csv")
data.head()

          X  y
0 -0.941008  1
1  1.225229  1
2  1.822382  1
3  1.940940  1
4  0.913569  1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       1000 non-null   float64
 1   y       1000 non-null   int64
dtypes: float64(1), int64(1)
memory usage: 15.8 KB

In [4]:
X=data[["X"]]
y=data["y"]

In [5]:
#original dataset shape
y.value_counts()

1    900
0    100
Name: y, dtype: int64

###above output shows data is very imbalanced

### to balance such imbanced dataset

In [6]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\user\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\user\anaconda3\lib\site-packages (from imblearn) (0.10.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.21.5)
Requirement already satisfied: scipy>=1.3.2 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.9.1)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\user\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.2.0)

### Undersampling of majority class

In [7]:
from imblearn.under_sampling import RandomUnderSampler
rs=RandomUnderSampler(random_state=42)
X_new,y_new=rs.fit_resample(X,y)

print("after undersampling dataset shape")
print("---------------------------------")

y_new.value_counts()

after undersampling dataset shape
---------------------------------

0    100
1    100
Name: y, dtype: int64

In [8]:
X_new

            X
0   -0.998589
1   -0.543414
2   -1.015379
3   -0.391851
4   -0.999257
..        ...
195  0.884897
196 -0.445026
197 -0.730113
198  2.800595
199  0.159237

[200 rows x 1 columns]

In [9]:
# another method for the above --- Nearmiss

In [10]:
from imblearn.under_sampling import NearMiss
us=NearMiss()
X_us,y_us=us.fit_resample(X,y)

print("after undersampling dataset shape")
print("---------------------------------")

y_us.value_counts()

after undersampling dataset shape
---------------------------------

0    100
1    100
Name: y, dtype: int64

### Over sampling of minority class by duplication

In [11]:
from imblearn.over_sampling import RandomOverSampler
ROS=RandomOverSampler()
X_new,y_new=ROS.fit_resample(X,y)

print("after oversampling dataset shape")
print("---------------------------------")

y_new.value_counts()

after oversampling dataset shape
---------------------------------

1    900
0    900
Name: y, dtype: int64

### Over sampling of minority class by SMOTE

In [12]:
from imblearn.over_sampling import SMOTE
SMOTE=SMOTE()
X_new,y_new=SMOTE.fit_resample(X,y)

print("after SMOTE the dataset shape")
print("---------------------------------")

y_new.value_counts()

after SMOTE the dataset shape
---------------------------------

1    900
0    900
Name: y, dtype: int64

In [24]:
X_new.iloc(34)

ValueError: No axis named 34 for object type DataFrame

In [16]:
y

0      1
1      1
2      1
3      1
4      1
      ..
995    1
996    1
997    1
998    1
999    0
Name: y, Length: 1000, dtype: int64

In [17]:
X

            X
0   -0.941008
1    1.225229
2    1.822382
3    1.940940
4    0.913569
..        ...
995 -0.400307
996  2.267628
997  2.072655
998  0.999226
999 -0.636595

[1000 rows x 1 columns]